-- Quality Plan을 위한 새로운 컬럼 추가
ALTER TABLE quality_non_audit_performance 
ADD COLUMN IF NOT EXISTS year_end_time_ratio INTEGER DEFAULT 0,
ADD COLUMN IF NOT EXISTS el_input_hours INTEGER DEFAULT 0,
ADD COLUMN IF NOT EXISTS ax_transition_ratio INTEGER DEFAULT 0,
ADD COLUMN IF NOT EXISTS eer_evaluation_score TEXT DEFAULT 'Compliant';
